.App {
  text-align: center;
  margin-bottom: 100px;
  user-select:none;
}

.App .header-logo {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.App .header-logo img {
  width: 150px;
}
